<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Healthcheck Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon.ico" />|
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <script type="module" src="/static/js/app.js" defer></script>
    <link rel="stylesheet" href="/static/css/style.css" />
    <style></style>
  </head>
  <body>
    <h1>État du Réseau en Temps Réel</h1>

    <div id="cards-container"></div>

    <div id="graphModal" class="modal">
      <div class="modal-content">
        <span class="close-modal" onclick="closeModal()">&times;</span>
        <h2 id="modalServerName">Historique</h2>
        <canvas id="historyChart"></canvas>
      </div>
    </div>
  </body>
</html>
